$blueDark: hsl(233, 26%, 24%);
$lime: hsl(136, 65%, 51%);
$cyan: hsl(192, 70%, 51%);

$blueGray: hsl(233, 8%, 62%);
$blueGrayLight: hsl(220, 16%, 96%);
$grayLight: hsl(0, 0%, 98%);
$white: hsl(0, 0%, 100%);

/* public-sans-300 - latin */
@font-face {
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 300;
  src: url('./fonts/public-sans-v14-latin-300.eot');
  /* IE9 Compat Modes */
  src: local(''),
    url('./fonts/public-sans-v14-latin-300.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('./fonts/public-sans-v14-latin-300.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('./fonts/public-sans-v14-latin-300.woff') format('woff'),
    /* Modern Browsers */
    url('./fonts/public-sans-v14-latin-300.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('./fonts/public-sans-v14-latin-300.svg#PublicSans') format('svg');
  /* Legacy iOS */
}

/* public-sans-regular - latin */
@font-face {
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/public-sans-v14-latin-regular.eot');
  /* IE9 Compat Modes */
  src: local(''),
    url('./fonts/public-sans-v14-latin-regular.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('./fonts/public-sans-v14-latin-regular.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('./fonts/public-sans-v14-latin-regular.woff') format('woff'),
    /* Modern Browsers */
    url('./fonts/public-sans-v14-latin-regular.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('./fonts/public-sans-v14-latin-regular.svg#PublicSans') format('svg');
  /* Legacy iOS */
}

/* public-sans-700 - latin */
@font-face {
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 700;
  src: url('./fonts/public-sans-v14-latin-700.eot');
  /* IE9 Compat Modes */
  src: local(''),
    url('./fonts/public-sans-v14-latin-700.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('./fonts/public-sans-v14-latin-700.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('./fonts/public-sans-v14-latin-700.woff') format('woff'),
    /* Modern Browsers */
    url('./fonts/public-sans-v14-latin-700.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('./fonts/public-sans-v14-latin-700.svg#PublicSans') format('svg');
  /* Legacy iOS */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: $blueGrayLight;

  &:hover {
    color: $lime;
  }
}

li {
  list-style: none;
}

body {
  font-size: 1.125rem;
  font-family: 'Public Sans';
  background-color: $blueGrayLight;
}

.container {
  width: 100%;
  margin: auto;
}

.header {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  padding: 2rem 1rem;
  align-items: center;
  background-color: $white;
  position: relative;
  z-index: 2;

  &_active {
    position: fixed;
    z-index: 3;
    width: 100%;
  }

  &__burger {
    cursor: pointer;

    &_active {
      position: fixed;
      right: 0;
      padding-right: 1rem;
      content: url('./images/icon-close.svg');
    }

    &_invisible {
      display: none;
    }
  }

  &__list {
    display: none;

    &_active {
      position: relative;
      // color: $gray;
      display: block;
      position: fixed;
      padding: 2rem;
      top: 7rem;
      right: 1.5rem;
      width: 90%;
      background-color: $white;
      line-height: 2.5rem;
      text-align: center;
      z-index: 2;
      border-radius: 0.625rem;
    }

    &_flex {
      display: flex;
      align-items: center;
      color: $white;
      gap: 1.5rem;
    }
  }

  &__item {
    a {
      color: $blueDark;
      text-transform: capitalize;

      position: relative;

      &:hover {
        border-bottom: 4px solid $lime;
      }
    }
  }

  &__button {
    display: none;

    &_active {
      display: block;
    }
  }
}

.main {

  padding-bottom: 5rem;

  &__image {
    width: 100%;
    background-image: url('./images/bg-intro-mobile.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -40px;
    height: 40rem;
    margin-top: -8.438rem;
  }

  &__box {
    z-index: 4;
  }

}

.box {
  padding: 2rem;
  text-align: center;
}

.title {
  font-weight: 500;
}

.subtitle {
  padding: 1rem 0;
  color: $blueGray;
  line-height: 2rem;
}

.button {
  cursor: pointer;
  border: none;
  background: linear-gradient(to left, $cyan 0%, $lime 100%);
  color: $white;
  font-weight: 500;
  padding: 1rem 3rem;
  font-family: 'Public Sans';
  border-radius: 1.25rem;

  &:hover {
    opacity: 0.7;
  }
}

.articles {
  padding: 5rem 0;
  background-color: $grayLight;

  &__image {
    width: 100%;
  }

  &__author,
  &__title,
  &__subtitle {
    text-align: start;
  }

  &__header {
    text-align: center;
    font-size: 2.5rem;
  }

  &__box {
    background-color: $white;
    border-radius: 0.625rem;
  }

  &__author {
    color: $blueGray;
    font-weight: 500;
    font-size: 0.8rem;
  }

  &__section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
  }

  &__title {
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: 500;
    color: $blueDark;

    &:hover {
      color: $lime;
    }
  }

  &__subtitle {
    color: $blueGray;
    line-height: 1.5rem;
  }
}

.footer {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $blueDark;
  gap: 2rem;

  padding: 2rem 0 3rem;

  &__logo {
    padding: 2rem;
  }

  &__brands {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }

  &__item {
    line-height: 2.5rem;
    text-align: center;
  }

  &__right {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  &__copyright {
    color: $blueGray;
  }
}

@media (min-width: 1000px) {

  .header {
    padding-left: 7rem;
    padding-right: 7rem;
  }

  .main {
    display: flex;
    align-items: center;
    padding-left: 7rem;

    &__image {
      order: 2;
      background-image: url('./images/bg-intro-desktop.svg');
      flex: 1;
      top: 10rem;
      right: 0;
      width: auto;
      position: absolute;
    }

    &__box {
      order: 1;
      flex: 1;
      text-align: start;
      max-width: 45rem;
    }
  }

  .description {

    padding-left: 7rem;
    padding-right: 7rem;
    padding-bottom: 5rem;

    &__box {
      text-align: start;
      width: 40%;
    }

    &__items {
      display: flex;

      &_box {
        text-align: start;
      }
    }

    &__image {
      padding-bottom: 2rem;
    }
  }

  .articles {

    padding-left: 7rem;
    padding-right: 7rem;

    &__header {
      text-align: start;
      padding-bottom: 2rem;
    }

    &__items {
      display: flex;
      gap: 2rem;
    }

    &__image {
      height: 30vh;
    }
  }

  .footer {
    padding-left: 7rem;
    padding-right: 7rem;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;

    &__logo {
      padding: 0;
    }

    &__left {
      display: flex;
      flex-direction: column;
      align-items: start;
      gap: 2rem;
    }

    &__center {
      display: flex;
      gap: 12rem;
    }

    &__item {
      text-align: start;
    }

    &__right {
      align-items: end;
    }
  }
}